:root {
  --color-marine: #1F2D42;
  --colors-aurore: #F14950;
  --colors-aurore-hover: #f0393f;
  --colors-light: #F2F2F2;

  --shadow-aurore: 0px 15px 30px rgba(241, 73, 80, 0.25);

  --container-width: 730px;
  --line-height: 150%;
  --poppins-font: 'Poppins';
}

@font-face {
  font-family: var(--poppins-font);
  src: url(../font/Poppins-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: var(--poppins-font);
  src: url(../font/Poppins-Bold.ttf);
  font-weight: bold;
}

/* 
  # Summary

  1. Components
  2. Header 
  3. Content
*/

body {
  background-color: var(--color-marine);
  font-family: var(--poppins-font), Arial, Helvetica, sans-serif;
  color: var(--colors-light);
  line-height: var(--line-height);
}

/* 1. Components */
.button--primary {
  background-color: var(--colors-aurore);
  color: var(--colors-light);
  box-shadow: var(--shadow-aurore);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: var(--line-height);
  border-radius: 4px;
  padding: 16px;
  border: none;
  width: 100%;
  max-width: 350px;
}

.button--primary:hover {
  background-color: var(--colors-aurore-hover);
  cursor: pointer;
}

/* 2. Header */
.header {
  margin: 40px auto 0;
  max-width: var(--container-width);
}

.header__logo {
  width: 102px;
}

/* 3. Content */
.content {
  margin: 121px auto 0;
  max-width: var(--container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title {
  font-size: 36px;
  line-height: var(--line-height);
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.links__item:not(:first-child) {
  margin-top: 16px;
}